VITE_SUPABASE_URL=https://ozfzeflmwrhucbrcoext.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96ZnplZmxtd3JodWNicmNvZXh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxODM3MjAsImV4cCI6MjA5Mzc1OTcyMH0.GHlpz9jY9vzHO6DNUoXaPR1m39BdoAu1y0ucqIFfKZk
